.body {
    position: relative;
    padding-bottom: 33rem;
    min-height: 100vh;
}

.curr {
    padding-top: 3.2rem;
    padding-bottom: 2rem;
}

.row, .form-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-top: 1rem;
}

form {
    padding-top: 1rem;
}

button {
    margin: 20px 0px;
}

select:focus:not(.focus-visible) {
    outline: 0;
    box-shadow: none;
}

button:focus:not(.focus-visible) {
    outline: 0;
    box-shadow: none;
}